/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.movie-card {
  width: 1400px;
  margin: 10px auto; 
  background-color: fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px; 
  padding: 20px; 
  text-align: center; 
  display: grid; 
  place-items: center; 
}

.movie-card img {
  max-width: 200px; 
  height: auto; 
}

.mv{
  width: 200px;
  height: 500px;
  margin-top: 20px;
}

.hero-image{
  position: relative;
}

.hero-title {
  font-size: 30px;
}

.hero-title, .hero-description{
    color: white;
    text-align: center;
  font-weight: bold;

}

.watch-trailer-button{
  color: white;
  margin: 10px;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
};

.hero-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 15px;
}

.left-icon,
.right-icon {
  font-size: 24px;
}

.search-bar {
 width: 230px; 
  margin: 0 16px; 
}
input[type="search"]:focus {
  outline: none;
  border: 1px solid #ccc; 
  background-color: #fff; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

.search-bar input {
  width: 100%;
  padding: 8px;
}





