/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}



/* MovieCard.css */

/* Style for the Movie Card */
.movie-card {
  width: 1400px; /* Adjust the width to your desired size */
  margin: 10px auto; /* Add margin and use 'auto' to horizontally center the card */
  background-color: fff; /* Background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Padding inside the card */
  text-align: center; /* Center text content horizontally */
  display: grid; /* Use CSS Grid */
  place-items: center; 
}

/* Styles for other elements inside the card, if needed */
.movie-card img {
  max-width: 200px; /* Ensure images don't exceed the card's width */
  height: auto; /* Maintain aspect ratio */
}

.mv{
  width: 200px;
  height: 440px;
  margin-top: 20px;
}

/* Example CSS */
.hero {
  /* Your hero section styles */
}

.hero-content {
  /* Center-align your content */
  text-align: center;
}

.hero-icons {
  /* Style for icons and search bar container */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-icon,
.right-icon {
  /* Style for left and right icons */
  font-size: 24px;
  color: #fff;
}

.search-bar {
  /* Style for the search bar */
  flex: 1; /* Take up available space */
  margin: 0 16px; /* Add margin between icons and search bar */
}

.search-bar input {
  /* Style for the search input field */
  width: 100%;
  padding: 8px;
}





